.service-popup__bgblacker {
  width: 100vw;
  height: 100vh;
  background: rgba(31, 31, 31, 0.67);
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 10000;
  visibility: hidden;
  position: fixed;
  display: none;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  z-index: 8;
}

.service-popup__bgblacker_active {
  visibility: visible;
  opacity: 1;
}








.service-popup {
  font-family: Comfortaa;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: fixed;
  flex-direction: column;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
}



.service-popup_active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: fixed;
  flex-direction: column;
  visibility: visible;
  opacity: 1;
}




.service-popup__container {
  padding: 0 0 30px 0;
  z-index: 10001;
  width: 770px;
  min-height: 644px;
  position: relative;
  background: #7A7A7A;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-popup_bg {
  width: 100vw;
  height: 100vh;
  background: rgba(31, 31, 31, 0.67);
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  position: fixed;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  z-index: 10000;
}

.service-popup_bg_active {
  visibility: visible;
  opacity: 1;
}

.service-popup__img {
  width: 770px;
  height: 312px;
}

.service-popup__name {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 40px;

  color: #FFFFFF;
  width: calc(100% - 20px * 2);
  margin: 32px auto 0;
}

.service-popup__desc {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  color: #FFFFFF;
  width: calc(100% - 20px * 2);
  margin: 12px auto 0;
}

.service-popup__btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 20px * 2);
  margin: 48px auto 0;
}

.service-popup__btn-sign-up {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: #FFFFFF;
  border-radius: 100px;
  transition: background-color 0.3s ease-in-out;

}

.service-popup__btn-sign-up:hover {
  background-color: #CACACA;
}

.service-popup__btn-sign-up-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */


  /* main/900 */

  color: #48481C;
  margin: 0;
}

.service-popup__btn-close {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
}



.service-popup__btn-close-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */

  transition: color 0.3s ease-in-out;
  color: #FFFFFF;
  margin: 0;
}

.service-popup__btn-close:hover .service-popup__btn-close-text {
  color: #CACACA;
}

@media (max-width: 907px) {
  .service-popup__container {
    width: 90%;
    min-height: unset;
    justify-content: center;
  }

  .service-popup__img {
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 590px) {
  .service-popup__container {
    width: 95%;
  }

  .service-popup__name {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
  }

  .service-popup__desc {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
  }

  .service-popup__btns {
    flex-direction: column;
  }

  .service-popup__btn-sign-up {
    padding: 16px 0;
    width: 100%;
  }

  .service-popup__btn-sign-up-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
  }

  .service-popup__btn-close-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
  }

  .service-popup__btn-close {
    margin: 24px 0 0;
    padding: 0 24px;
  }
}