.service-card {
  position: relative;
  height: 456px;
  transition: margin 0.7s ease-in-out;
  margin: -456px 0 0;
}

.service-card_loaded {
  margin: 60px 0 0;
}

.service-card:first-of-type {
  margin: 0;
}

.service-card__img {
  position: absolute;
  object-fit: cover;
  width: 288px;
  height: 326px;
  z-index: 1;
}

.service-card__date {
  position: absolute;
  z-index: 2;
  top: -38px;
  left: 43px;
  margin: 0;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */


  color: #FFFFFF;

}

.service-card__capacity{
  position: absolute;
  z-index: 2;
  top: -38px;
  right: 0;
  margin: 0;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */


  color: #FFFFFF;

}

.service-card__texts {
  width: fit-content;
  position: absolute;
  top: 123px;
  left: 255px;
  background: #C57642;
  z-index: 2;
  max-width: calc(100% - 255px - 25px - 22px);
  padding: 28px 25px 18px 22px;
}


.service-card__name {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  width: fit-content;
  color: #FFFFFF;
  margin: 0;
}


.service-card__desc {
  margin: 16px 0 27px;

  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;

  color: #FFFFFF;
  max-width: 813px;
}


.service-card__info {
  display: flex;
  flex-direction: row;
  margin: 16px 0 0;
}

.service-card__info-item {
  display: flex;
  flex-direction: column;
  margin: 0 12px 0 0;
}

.service-card__info-item:last-of-type {
  margin: 0;
}


.service-card__info-item-name {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */


  /* main/300 */
  margin: 0;
  color: #DFDFDE;
}


.service-card__info-data {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  margin: 0 0 0;
  border: 1px solid rgba(255, 255, 255, 0.6);

}

.service-card__info-data_price {
  min-width: 81px;
}

.service-card__info-data_time {
  min-width: 71px;
}


.service-card__info-data-icon {
  margin: 0;
  width: 24px;
  height: 24px;
}


.service-card__info-data-text {
  margin: 24px 0 0;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  /* identical to box height */

  text-decoration: none;
  color: #FFFFFF;


}


.service-card__btn {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  bottom: calc(-18px - 24px - 38px);
  right: 0;
  border: 2px solid #FFFFFF;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  transition: background-color 0.3s ease-in-out;
}

.service-card__btn-text {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */


  color: #FFFFFF;
  margin: 0;
}

.service-card__btn:hover {
  background-color: rgba(255, 255, 255, 1);
}

.service-card__btn:hover .service-card__btn-text {
  color: #48481C;
}

.service-card__info__tow-first {
  display: flex;
  flex-direction: row;
  margin: 0 12px 0 0;
}

.service-card__more {
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-decoration-line: underline;
  transition: color 0.3s ease-in-out;
  color: #FFFFFF;
  margin: 0;
  position: absolute;
  right: 21px;
  bottom: 13px;
}

.service-card__more:hover {
  color: #CACACA;
}


@media (max-width: 1200px) {
  .service-card__more {
    margin: 12px 0 0;
    text-align: right;
    position: relative;
    right: unset;
    bottom: unset;
  }
}

@media (max-width: 1034px) {
  .service-card {
    position: relative;
    height: fit-content;
    margin: 50px 0 0;
    display: flex;
    flex-direction: column;
  }

  .service-card__img {
    position: relative;
    width: 100%;
    height: 377px;
    z-index: 1;
    object-fit: cover;
  }

  .service-card__date {
    position: relative;
    top: unset;
    left: unset;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

  }
  .service-card__capacity{

    position: relative;
    top: unset;
    left: unset;
    margin: 10px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
  
  }
  .service-card__info-item {
    width: 50%;
  }

  .service-card__info-item_last {
    width: 100%;
  }

  .service-card__texts {
    width: 100%;
    position: relative;
    top: unset;
    left: unset;
    max-width: calc(100% - 20px - 20px);
    padding: 30px 20px 20px 20px;
  }

  .service-card__name {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    margin: 19px 0 0;
  }

  .service-card__desc {
    margin: 20px 0;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
  }

  .service-card__info {
    flex-direction: column;
    margin: 5px 0 0;
  }

  .service-card__info__tow-first {
    margin: 0 0 22px 0;

  }

  .service-card__btn {
    position: relative;
    bottom: unset;
    right: unset;
    padding: 16px 0;
    width: 100%;
    margin: 24px 0 0;
  }

  .service-card__more {
    margin: 48px 0 0;
    text-align: center;
  }
}

@media (max-width: 590px) {
  .service-card {
    margin: 44px 0 0;
  }

  .service-card__img {
    height: 208px;
  }

  .service-card__texts {
    max-width: calc(100% - 8px - 8px);
    padding: 14px 8px 12px 8px;
  }

  .service-card__date {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
  }
  .service-card__capacity{

    position: relative;
    top: unset;
    left: unset;
    margin: 5px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
  
  }

  .service-card__name {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    margin: 24px 0 0;
  }

  .service-card__desc {
    margin: 8px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
  }

  .service-card__info {
    margin: 16px 0 0;
  }

  .service-card__info-item-name {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
  }

  .service-card__info-data {
    margin: 4px 0 0;
    align-items: flex-start;
  }


  .service-card__info-data-icon {
    width: 16px;
    height: 16px;
  }


  .service-card__info-data-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    margin: 16px 0 0;
  }

  .service-card__info__tow-first {
    margin: 0 0 18px 0;

  }

  .service-card__btn {
    padding: 12px 0;
    margin: 16px 0 0;
  }

  .service-card__btn-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
  }

  .service-card__more {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    margin: 32px 0 0;
    text-align: center;
  }
}